
@{
    ViewData["Title"] = "DoctorWorkbench";
}

<h1>DoctorWorkbench</h1>
<div class="container">
    <form asp-action="post">
        <div class="form-group">
            <label class="form-group">Speciality</label>
            <select class="form-control" id="sname">
                <option value="0">Select Speciality</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-group">Doctor Name</label>
            <select class="form-control" id="dname">
                <option value="0">Select Doctor Name</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-group">Part(Day)</label>
            <select class="form-control" id="dayname">
                <option value="0">Select Part</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-group">Treatement Date</label>
            <select class="form-control" id="treatname">
                <option value="0">Select Treatement Date</option>
            </select>
        </div>
        <div class="form-group">
            <input type="button" value="Show Appointment" class="btn btn-primary" id="showappointment" />
        </div>
        <table class="table" id="patientList">
            

        </table>


    </form>

    <!--vital sign-->
    <form asp-action="post">
        <div class="row form-group">
            <input type="text" id="vital" class="form-group" />
        </div>
        <div class="form-group">
            <input type="button" value="Serach Vital Sign For Patient" class="btn btn-primary" id="serachVital" placeholder="Enter patient name" />
        </div>

        <table class="table table-bordered" id="vitalList">
            

        </table>

    </form>
</div>
@section Scripts{ 
        <script>
            $(function () {
                callSpecial();
                $("#sname").change(function () {
                    var specialId = this.value;
                    callDoctorBySpecial(specialId);
                });
                $("#dname").change(function () {
                    var doctorId = this.value;
                    callPartByDoctor(doctorId);
                });
                $("#dayname").change(function () {
                    var scheduleId = this.value;
                    callTreateBySchdule(scheduleId);
                });
                $("#showappointment").click(function () {
                    var day =document.getElementById("treatname").value;
                    callAppointmentTableByDays(day);
                });

                $("#serachVital").click(function () {
                    var patientName = document.getElementById("vital").value;
                    callVitalTableByPatientName(patientName);
                });
            });
            function callSpecial() {
                   $.ajax({
                        type: 'GET',
                        url: '/api/DoctorTreatment/getSpecial',
                        success: function (result) {
                            //refresh 
                            $("#sname").html("").append("<option value='0'>Select Special</option>");
                            var clist = result;
                            $.each(clist, function (e, value) {
                                $("#sname").append("<option value=" + value.id + ">" + value.name + "</option>");
                            });

                        }
                    });
            }
            function callDoctorBySpecial(specialId) {
                $.ajax({
                    type: 'GET',
                    url: '/api/DoctorTreatment/getDoctorBySpecial/' + specialId,
                    success: function (result) {
                        //refresh
                      $("#dname").html("").append("<option value='0'>Select Doctor</option>");
                        var clist = result;
                        $.each(clist, function (e, value) {
                            $("#dname").append("<option value=" + value.id + ">" + value.name + "</option>");
                        });
                    }
                });
            }
            function callPartByDoctor(doctorId) {
                $.ajax({
                    type: 'GET',
                    url: '/api/DoctorTreatment/getPartByDoctor/' + doctorId,
                    success: function (result) {
                        //refresh
                         $("#dayname").html("").append("<option value='0'>Select Day Part</option>");
                        var clist = result;
                        $.each(clist, function (e, value) {
                            $("#dayname").append("<option value=" + value.id + ">" + value.day + "</option>");
                        });
                    }
                });
            }

            function callTreateBySchdule(scheduleId) {
                $.ajax({
                    type: 'GET',
                    url: '/api/DoctorTreatment/getTreatmentDateBySchduleDay/' + scheduleId,
                    success: function (result) {
                        //refresh
                         $("#treatname").html("").append("<option value='0'>Select Treatement Date</option>");
                        var clist = result;
                        $.each(clist, function (e, value) {
                            $("#treatname").append("<option value=" + value.id + ">" + value.treatementDate + "</option>");
                        });
                    }
                });
            }

            function callAppointmentTableByDays(day) {
                $.ajax({
                    type: 'GET',
                    url: '/api/DoctorTreatment/getAppointmentTableByDays/' + day,
                    success: function (result) {
                        $("#patientList").html("").append("<tr><th>DoctorName</th> <th>PatientName</th> <th>Appointment Date</th><th>Treatement Date</th></tr>");
                        var clist = result;
                        $.each(clist, function (e, value) {
                            $("#patientList").append("<tr><td>" + value.schedule.doctor.name + "</td><td>" + value.patient.name + "</td><td>" + value.appointmentDate + "</td><td>" + value.treatementDate + "</td><tr>");
                        });
                    }
                });
            }

            function callVitalTableByPatientName(patientName) {
                $.ajax({
                    type: 'GET',
                    url: '/api/DoctorTreatment/getVitalTableByPatientName/' + patientName,
                    success: function (result) {
                        $("#vitalList").html("").append("<tr><th>Patient Name</th><th>Height</th><th>Weight</th><th>Temperature</th><th>Blood Suger</th><th>Upper Blood Pressure</th><th>Lower Blood Pressures</th> </tr>");
                        var clist = result;
                        $.each(clist, function (e, value) {
                            $("#vitalList").append("<tr><td>" + value.patient.name + "</td><td>" + value.height + "</td><td>" + value.weight + "</td><td>" + value.temperature + "</td><td>" + value.bloodSugar + "</td><td>"+value.bloodPressureUNo+"</td><td>"+value.bloodPressureLNo+"</td></tr>");
                        });
                    }
                });

            }


        </script>

}