
@{
    ViewData["Title"] = "DoctorWorkbench";
}

<h1>DoctorWorkbench</h1>
<div class="container">
    <form asp-action="post">
        <div class="form-group">
            <label class="form-group">Doctor Name</label>
            <select class="form-control" id="dname">
                <option value="0">Select Doctor Name</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-group">Speciality</label>
            <select class="form-control" id="sname">
                <option value="0">Select Speciality</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-group">Part(Day)</label>
            <select class="form-control" id="dayname">
                <option value="0">Select Part</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-group">Treatement Date</label>
            <select class="form-control" id="treatname">
                <option value="0">Select Treatement Date</option>
            </select>
        </div>
        <div class="form-group">
           <input type="button" value="Show Appointment" class="btn btn-primary"/>
        </div>
    </form>
</div>
