@{
    ViewData["Title"] = "Home Page";
}
   
<div class="text-center">
    <h1 class="display-4">Welcome To Clinic Software</h1>
    <p><a href="https://www.facebook.com/BestAndBrightITInstitute/?ref=br_rs">LearnMore About US</a></p>

    <div class="id"></div>
</div>
